form{
    width: 90%;
    margin: 50px auto;
    border: 2px double #333;

}
form h2{
    text-align: center;
    margin: 50px;
}
#container{
    width: 70%;
    margin: 50px auto;
}
#container label{
    line-height: 50px;
}
#container .fuck{
    width: 160px;
    height: 120px;
    overflow: hidden;
}
#container .fuck img{
    height: 120px;
}
#container > input{
    width: 100px;
    height: 35px;
    margin: 50px auto;
}