
#content{
    margin: 50px auto;
}
#content a{
    text-align: center;
    line-height: 100px;
    font-weight: 900;
    font-size: 2em;
}
#content :first-child{
    text-align: center;

}
#content p{
    line-height: 50px;

}